/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.navbarButtondiv{
  border:"1px solid black";
   width:"fit-content";
   position: relative;
}
.navJobSearch:hover{
  color: rgb(93,77,170);
  font-size: 14px
}
.navJobSearch{
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 8px 0px; 
  width: max-content;
  height: 100%;
  
}
#navwfh{
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 8px 0px; 
  width: max-content;
  height: 100%;
}
#navwfh:hover{
  color: rgb(93,77,170);
  font-size: 14px
}
#navPS{
  background-color:rgb(253,233,189);
  color: rgb(247,130,42);
  /* font-size: 12px; */
  border-radius: 5px;
  width: max-content;
  height: 100%;
  padding: 8px 0px;
  font-size: 14px;
}
#navPS:hover{
  color: rgb(93,77,170);
  font-size: 14px;
}
#navCT{
  
  color: black;
  /* font-size: 12px; */
  border-radius: 5px;
  width: max-content;
  height: 100%;
  padding: 8px 0px;
  font-size: 14px;
}
#navCT:hover{
  color: rgb(93,77,170);
  font-size: 14px;
}

.login1{
  color: black;
  font-size: 14px;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 5px;
}
.login1:hover{
  background-color: rgb(246,136,25);
  color: white;
}
/* ---------------------------------------------------------------------menu of each tab */
.jobsearchMenu{
  display: none;
  width: max-content;
  border: 1px solid black;
  z-index: 1000;
  position: absolute;
  text-align: 20px;
  
}
.menuItems{
  color: rgb(126, 120, 120);
  font-size: 15px;
  
}
.navbarButtondiv:hover .jobsearchMenu{
  display: block;
  
}
.menuItems:hover{
  background-color: rgb(211, 206, 206);
  color: rgb(182, 105, 233);
}
#employerDiv:hover .jobsearchMenu{
  display: block;
}
/* -------------------------------------------------------------Employer Div */

.EmployerDiv1{
  width: 100%;
  background-color: rgb(245,245,245);
  margin-top: 10px;
}
.EmployerDiv2{
  width: 86%;
  margin: auto;
  background-color: rgb(255,255,255);
  height: 150px;
  border: 1px solid rgb(237,237,237);
  padding: 20px 0px 20px 0px;
 
}
.EmployerTitleDiv{
  border: 1px solid black;
  margin-left: 20px;
}
.EmployerTitleHtag{
  font-size: 22px;
  font-weight: 600;
}


